@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.buttonCart:hover{
    background-color: red;
    transition: all .5s ease;
    color: #fff;
    cursor: pointer;
}

.toastStyles{
  animation: toastify 2s;
  position: absolute;
  right: 30px;
}

@keyframes toastify {
  from{
    right : 30px;
    top: -100px;
  }
  to{
    right: 30px;
    top: 20px;
  }
}